<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mtg_mania">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />

    <application
        android:label="@string/app_name"
        android:name="com.example.android.mtg_mania.MTGMApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/mtgm_launcher"
        android:roundIcon="@mipmap/mtgm_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".counter.CounterActivity" android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support RedditAPI level 15 and lower. Applies for every other activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".notes.NotesActivity" android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".notes.EditNoteActivity" android:parentActivityName=".notes.NotesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notes.NotesActivity" />
        </activity>

        <activity android:name=".notes.CreateNoteActivity" android:parentActivityName=".notes.NotesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notes.NotesActivity" />
        </activity>

        <activity android:name=".videos.VideosActivity" android:parentActivityName=".MainActivity" android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".posts.PostsActivity" android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>
</manifest>